{% extends "base.html" %}
{% block title %}Timeplan for {{ studytitle }}{% endblock %}
{% block links %}
        <a class="link" href="https://fronter.com/uia/login/feide" >Fronter</a>
        <a class="link" href="http://timeplan.uia.no/swsuiah/public/no/default.aspx" >timeplan.uia.no</a>
        <a class="link" href="https://github.com/chinatsu/uiatimetable" >Kildekode</a>
{% endblock %}
{% block content %}
    {% for week in weeks %}
    {% if weeks[week]|length > 0 %}
    <table data-aos="fade">
        <tr class="tr1">
            <td class="td1">Uke {{ week }}, 2016</td>
            <td class="td2">Aktivitet</td>
            <td class="td3">Rom</td>
            <td class="td4">Foreleser</td>
        </tr>
        {% for w in weeks[week] %}
        <tr class="tr2">
            <td class="td1_1">{{ w['weekday'] }}{{ w['date'] }}, {{ w['time'] }}</td>
            <td>{{ w['details'] }}</td>
            <td>{{ w['location'] }}</td>
            <td>{{ w['lecturer'] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% endfor %}
{% endblock %}
